@import '../styles/mixins';

.app {
  height: 100%;



  color: var(--app-font-color);
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--app-background-secondary);
  height: var(--header-height-mobile);
  padding: 0 2rem;
  border-bottom: 2px solid var(--app-background-primary);

  &__left {

  }

  &__logo {
    font-size: 2rem;
  }

  &__right {
    display: flex;
  }

  @include for-tablet-up {
    height: var(--header-height-desktop);
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height-mobile);
  overflow-y: auto;
  background: var(--app-background-primary);
  min-height: 100vh;
  width: 100%;
}

.app-content {
  display: flex;
  //padding: var(--default-margin);
  width: 100%;
  flex-grow: 1;

  & > div:not(:last-child) {
    margin-right: 1.6rem;
  }


}

.app-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 2rem;

  background: var(--app-footer-background);
}
